
.head{
    display: flex;
    align-items: center;
    background-color: aqua;
}

.head img{
    width: 40px;
    margin: 15px;
}

.navbar{
    padding: 10px;
    background-color: blue;
}

.navbar li{
    display: inline-block;
    margin: 10px 0px;
    padding: 0px 15px;
}

.navbar li:first-child{
    margin-left: 50px;
}