.main{
    min-height: 70vh;

       margin-bottom: 5vh;
       background: linear-gradient(180deg, rgba(165, 190, 226, 0.4) -5.54%, rgba(227, 234, 245, 0) 100%);
       
   }
   .heading2{
       /* font-family: Raleway; */
   font-size: 50px;
   font-weight: 600;
   line-height: 44px;
   letter-spacing: 0.0038em;
   margin-bottom: 10vh;
   }
   
   tr:first-child th:first-child { border-top-left-radius: 10px; }
   tr:first-child th:last-child { border-top-right-radius: 10px;}
   
   tr:last-child td:first-child { border-bottom-left-radius: 10px;}
   tr:last-child td:last-child { border-bottom-right-radius: 10px; }
   /* this class is required to unable horizontal scroll */
   .scroll{
       width: 1200px;
   }
   
   .alignment{
     padding-top: 6.5vh;
       align-items: left;
       padding-left:5vw ;
       padding-right:5vw ;
       overflow-x: auto;
       
       white-space: nowrap;
   }
   th,
   td {
       text-align: center;
   }
   
   .background {
       background-color: #1E254D;
       color: #FFFFFF;
       /* font-family: Raleway; */
       font-size: 24px;
       font-weight: 700;
       line-height: 44px;
       letter-spacing: 0.0038em;
       border: none;
   
   }
   td{
       /* font-family: Raleway; */
   font-size: 24px;
   font-weight: 400;
   line-height: 44px;
   letter-spacing: 0.0038em;
   color: #1C1C1CCC;
   background: #FFFFFF;
   }